

<section class="content bgcolor-4" style="text-align:center">
    <h2 style="font-size:35px;text-align:center;color:#FFFFFF">START:DASH!!</h2>
    <span style="display:inline-block;" class="input input--kuro">
        <input class="input__field input__field--kuro" type="text" ng-model="num">
        <label class="input__label input__label--kuro">
            <span class="input__label-content input__label-content--kuro">Room Number</span>
        </label>
    </span>
    <span style="display:inline-block;" class="input input--kuro">
        <input class="input__field input__field--kuro" type="text" ng-model="key">
        <label class="input__label input__label--kuro">
            <span class="input__label-content input__label-content--kuro">Key</span>
        </label>
    </span>
    <br>
    <br>
    <br>
    <button class="btn btn-1 btn-1a" ng-click="submit()">Enter</button>
</section>
